/*
# Name: Mirja Lagerwaard
# Student number: 10363149
*/

#title {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-weight: bold;
}

#text {
  color: #444;
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 24px;
}

svg {
  fill: #bfbfbf;
  stroke: black;
}
